<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>


  <!--属性注入，构造函数注入-->
  <spring>
    <!--Spring.Net对象容器的配置-->
    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <!--objects:配置的容器的里面的对象的-->
    <objects xmlns="http://www.springframework.net">

      <!--配置环绕通知-->
      <object id="ConsoleLoggingAroundAdvice"  type="SpringAOPDemo.ConsoleLoggingAroundAdvice,SpringAOPDemo"/>

      <object id="MathService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <!--Target必须指向最终的那个服务实体。-->
        <property name="Target">
          <object id="myServiceObjectTarget" type="SpringAOPDemo.MathService,SpringAOPDemo"/>
        </property>

        <!--配置环绕的通知-->
        <property name="InterceptorNames">
          <list>
            <value>ConsoleLoggingAroundAdvice</value>
          </list>
        </property>
      </object>

    </objects>
  </spring>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>